body {
    background-color: black;

}

header {
    color: chocolate;
    text-shadow: 1px pink, 2px pink, 3px white;
    text-align: center;
    font-family: Franklin Gothic ;
  background-color: black;
    -webkit-box-shadow:0px 0px 27px 6px rgba(255, 255, 255, 0.9);
-moz-box-shadow: 0px 0px 27px 6px rgba(255, 255, 255, 0.9);
box-shadow: 0px 0px 27px 6px rgba(237, 255, 250, 0.9);

}