body {
    background-color: black;

}
img {
     max-width:100%; 
    height:auto;
     margin: 10px;
    border: 3px red solid;
}

.left {
    width: 300px;
    float: left;
}
.right {

    float: right;
}
h1 {
    text-align: center;
    color: aliceblue;
}
p {
    color: red;
}
p:hover {
    color: blue;
}
video {
    max-width: 500px;
    max-height: 500px;
}