* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
  background-image: url('https://media.tenor.com/fdc85JgfA64AAAAC/traumacore-scary.gif');
  background-size: 95%;
  align-self: center;  
  height: 80vh;
  padding: 5px;
  margin: 5px;
}

.ghost {
visibility: hidden;
opacity: 0.0;
display: none;
position: absolute;
left: -999999px;

}

#button1 {
 position:absolute;
 bottom: 1px;
 left: 45%;
 width: 140px;
 height: 140px;
 color: transparent;
 border: transparent;
 background-color: transparent;

}

#button2 {
 position:absolute;
 top: 120px;
 right: 44%;
 border-radius: 100%;
 width: 80px;
 height: 75px;
 color: transparent;
 border: transparent;
 background-color: transparent;
 

  
}


#button3 {

}

a {
  text-align: center;
}