* {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      align-items: center;
      text-align: center
      
  }

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
    background-image: url('https://64.media.tumblr.com/1e1c218988fa2106b44a5d6e16921fc4/441f2027138854ca-f1/s400x600/9094e541beef0da52832c74009eabf705edb190c.gifv');
    background-size: contain ;
}


a {
    
    text-align: center;
    color: aliceblue;
    font-family: Verdana;
    text-decoration: wavy;
    

}
.zurson:hover {
    color: red;
  }
    

img {
    
    padding: 50px;
    margin: 25px;
    position: relative;
    height: 400px;
    width: 400px;
}
p {
    
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}


li {
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
}
.glitch {
    color: aliceblue;
    font-size: 55px;

}

marquee {
    width: 100%;
    direction: down;
    height: 100px;
}


div {
    float: left;
    text-align: center;
}

.row-fluid {
 color: white;
 background-color: transparent;
 border: none;
 border-color: blue;
 text-align: center;
}

fieldset {
    text-align: center;
    border: none;
    background-color: transparent;
}

label, button {
    position: absolute;
    color: aliceblue;
    border: none;
    background-color: transparent;
    text-align: center;
}
input {
    
    align-self: center;
    position: absolute;
    top: 10px;
    border: 1px solid aliceblue;
    background-color: transparent;
    color: aliceblue;
}
label {
    top: 35px;
}

button {
    
    top: 35px;
}

